<br />

<%= link_to("Add New Word", {:action => 'new'}) %>

<% count = 0 %>
<table>
	<tr>
		<th>S.N.</th>
		<th>Words</th>
		<th>Action</th>
	</tr>

	
	<% @words.each do |word|%>
		<tr>
			<td><%= count += 1 %></td>
			<td><%= word.word %></td>
			<td>
				<%= link_to('Show', {:action => 'show', :id => word.id})%>
				<%= link_to('Edit', {:action => 'edit', :id => word.id})%>
				<%= link_to('Delete', {:action => 'destroy', :id => word.id})%>
			</td>
				
		</tr>
	<% end %>
</table>
